html {
    scroll-behavior: smooth;
}

section#insights img:hover {
    animation: grow 0.5s ease-in-out forwards;
}

section .download-title img:hover {
    animation: grow 0.5s ease-in-out forwards;
}