body {

    padding: 3rem;


    /* Image background */
    background-image:
        url('/img/background.webp');

    /* Centering and scaling the background */
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    height: 100vh;
}

html {
    scroll-behavior: smooth; /* Transitions plus fluides */
    font-family: "MyFont";
    color: var(--primary-color);
    font-size: 18px;

    h1 {
        font-weight: bold;
        font-size: 5rem;
    }

    h2 {
        font-weight: bold;
        font-size: 3rem;
    }

    h3 {
        font-weight: bold;
        font-size: 2rem;
    }
}