@import "reset.css";
@import "default-style.css";
@import "variables.css";
@import "soil.css";
@import "stone.css";
@import "animation.css";

section#hero {
    height: 100vh;
    /* Image background */
    background-image:
        url('/img/hero-background.webp');

    /* Centering and scaling the background */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        line-height: 5rem;
        margin-bottom: var(--big-space);
    }

    h2 {
        font-weight: var(--regular);
        font-size: 3rem;
    }

    div {
        display: flex;
        align-items: center;
    }

    a img {
        position: relative;
        z-index: 3;
        width: 100px;
        justify-self: center;
    }

    p {
        width: 50%;
    }
}

.divider-img {
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: -100px;
    height: 800px;
    object-fit: cover;
}

section#teams {

    h2 {
        margin-bottom: calc(2*var(--space));
    }

    div#teamList {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space);
        text-align: center;

        * {
            font-size: 1.5rem;
            font-weight: var(--regular);
            padding: 0 0.5rem;
        }
    }
}

section#insights {
    h2 {
        margin-bottom: var(--space);
    }

    h4 {
        font-size: 1.5rem;
        font-weight: var(--regular);
        color: var(--color-accent);
    }

    div.insight-grid {
        margin-top: var(--big-space);
        display: grid;
        grid-template-columns: 9fr 11fr;
        grid-template-rows: auto auto;
        gap: var(--big-space);

        div {
            margin-bottom: var(--space);
            h3 {
                line-height: 2.5rem;
                margin-bottom: var(--space);
            }

            img {
                margin-top: 2rem;
            }
        }
    }
}

div#mobile-experience {
    img {
        justify-self: center;
        width: 40%;
    }
}

div#conversion-tunel {
    img {
        justify-self: center;
        width: 80%;
    }
}

div#search {
    img {
        justify-self: center;
        width: 30%;
    }
}

div#social-media {
    img {
        justify-self: center;
        width: 80%;
    }
}

footer {
    /* annule le padding du body */
    background-color: black;
    opacity: 0.8;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}